NODE_ENV=sandbox
NODE_ENV=production
NODE_ENV=sandbox  # production | sandbox
MONGO_URI_SANDBOX=mongodb+srv://usuario:senha@cluster.mongodb.net/barbearia&appName=sandbox
MONGO_URI=mongodb+srv://usuario:senha@cluster.mongodb.net/barbearia&appName=production
JWT_SECRET=sua_chave_secreta_aqui
SENDINBLUE_API_KEY=xxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxx
FRONTEND_URL=http://localhost:3000
PORT=3000